.container-files{
    background-color: aqua;
    min-height: 100%;
    min-width: 100%;

    max-height: 5em;

    position: relative;

    
}


.col-img {
	/* min-height: 150px; */
	/* min-width: 200px; */
	/* margin-bottom: 30px; */
    /* max-height:  4em; */
    /* max-width: 4em; */
	/* position:relative; */

    max-height: 4em;
    max-width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-list {
    /* width: 100%; */
    /* height: 100%; */
    /* border: 2px solid red; */
    max-width: 100%;
    max-height: 100%;

}

.checkbox-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

    max-height: 4em;
    max-width: 4em;
}

.checkbox-container input[type="checkbox"]:checked + .img-list {
	border: 2px solid red;
  }



.checkbox-container label {
	display: block;
	height: 100%;
	width: 100%;
}
