.container-files {
    position: relative;
    background-color: aqua;

    width: var(--field-width);
    /* padding: 5px; */


    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;

    margin: 16px 0 .5vh 0;
}

.scroll-file-img {
    margin: 0 auto;
    /* background-color: coral; */
    width: var(--field-width);
    height: 7em;
    /* scroll-snap */
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    z-index: 1;
}

.scroll-file-img .file-img {
    scroll-snap-align: start;
}

.file-img {
    margin: 0px 2px 0px 2px;
    display: inline-block;
    width: 9em;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
}

.full-screen-img {
    width: 100%;
}

.file-img:hover {
    filter: sepia(100%);
    transform: scale(.97);
}

/* Anula la regla :hover para la imagen dentro del modal */
#modal-window img:hover {
    filter: none;
    transform: none;
}

.btn-prev-img,
.btn-next-img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    color: transparent;
    background: none;
}

.btn-prev-img:hover,
.btn-next-img:hover {
    color: var(--col-pri);
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.9);
    /* background: var(--col-sec); */

}

.btn-prev-img {
    left: 0;
}

.btn-next-img {
    right: 0;
}



fieldset.file {
    /* padding: 0em 0.2em 0.2em 0.2em; */
    padding: 0;
    z-index: 1;
    /* height: 9em; */
    height: 170px;

    background-color: aquamarine;
    /* position: relative; */
}

span.modal-capture .basic-legend {

    width: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
}

span.modal-capture .icon-selected {
    background-color: var(--col-select);
}



.modal-capture {
    /* top: -300px; */
    /* bottom: -300px; */
    position: absolute;
    bottom: 0;

    height: var(--field-height);
    width: 100%;
    /* width: var(--field-width); */
    background-color: blueviolet;
    z-index: 0;

    transition: 0.4s all ease;
}

.expand {
    height: calc(var(--module-contend-height) - var(--crud-buttons-container-height) - var(--title-height) - .5vh);
}


/************ DESKTOP ************/
@media only screen and (orientation: landscape) and (hover: hover) {}