
.file-input-container {
    margin-top: 5px;
    /* margin: 0; */
    /* padding: 0; */
    position: relative;

    width: 100%;

    display: flex;
    transition: transform 0.3s ease;

}


.scroll-file_img {
    /* width: calc(var(--field-width) - 4vw); */
    /* scroll-snap */
    overflow-y: hidden;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */

    z-index: 1;

    display: flex;
    flex-wrap: wrap;

    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: space-evenly;  */

    scroll-behavior: auto;
    /* desplazamiento por defecto */

    align-items: flex-start;
}


div[name="file_img"] {
    max-width: 100%;  /* Establece el tamaño máximo en relación con el contenedor */
    width: 9em;       /* Establece un tamaño inicial */
}

div[name="file_doc"] {
    width: 100%;
    /* Por defecto es 0, en 1 lo coloca al final */
    order: 1; 
}


div[name="file_img"] img {
    /* La imagen no superará el ancho del contenedor */
    max-width: 100%;
    /* La altura se ajustará automáticamente para mantener la proporción */
    height: auto;
    /* Mantiene la proporción y cubre completamente el contenedor */
    object-fit: cover;
}


div[name="file_doc"] iframe {
    width: 100%;
    height: 620px;
}


.full-screen-img {
    width: 100%;
}


div[name="file_img"]::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 9em;
    height: 6em;
    opacity: 0;
    /* Establecer la opacidad inicial a 0 */
    transition: opacity 0.3s ease;
    /* Agregar una transición suave */
}

div[name="file_img"]:hover::before {
    background-color: var(--col-hover);
    opacity: 0.5;
}

div[name="file_img"].file-selected::before {
    background-color: var(--col-select);
    opacity: 0.7;
}

/* Anula la regla :hover para la imagen dentro del modal */
#modal-window img:hover {
    filter: none;
    transform: none;
}

button[name="previous_img"],
button[name="next_img"] {
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 2;
    color: transparent;
    background: none;
    height: calc(var(--field-height) + 2.5vh);
    /* height:100%; */
}

button[name="previous_img"]:hover,
button[name="next_img"]:hover {
    color: var(--col-sec);
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.9);
    /* background: var(--col-sec); */

}

button[name="previous_img"] {
    left: 0;
}

button[name="next_img"] {
    right: 0;
}


fieldset.file {
    
    min-width: 100%;
    
    z-index: 1;
}

fieldset.file legend {
    margin-left: 1.5em;
}

button[name="capture"] {
    position: relative;
    /* span.modal-file-viewer .basic-legend { */

    height: 30px;
    width: 40px;
    cursor: pointer;
    /* top: -2px; */

    z-index: 2;
    background-color: var(--col-sec);
    border-radius: .4em;
}

span.modal-file-viewer .icon-selected {
    background-color: var(--col-select);
}


.modal-file-viewer {
    border-radius: .4em;
    position: absolute;
    bottom: 0;

    /* height: calc(var(--field-height) + 1.5vh); */
    /* min-height: 100%; */
    /* height:min-contt; */
    height:100%;
    width: 100%;
    /* width: var(--field-width); */
    background-color: var(--col-ter);
    /* z-index: 0; */


    display: flex;
    justify-content: center;

    transition: 0.4s all ease;
}


.media-container {
    /* padding: 20px 0 0 0; */
    position: absolute;
    display: inline-block;
    /* width: 100%; */
    /* height: 200px; */
    background-color: var(--col-pri);
    /* max-width: 340px; */
    /* max-height: 200PX; */
    width: auto;
    height: auto;
    /* transition: 0.3s all ease; */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}



video {
    /* height: auto; */
    /* width: auto; */
    /* height: auto; */
    object-fit: cover;
}


.media-hidden {
    /* opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s; /* Duración de la transición */
    display: none;

    max-height: 0;
    opacity: 0;

}



/************ DESKTOP ************/
@media only screen and (orientation: landscape) and (hover: hover) {}